{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-9">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h5><strong>Product</strong></h5>
            </div>
            <div class="col-lg-12 col-md-6 mb-4">
                <img class="card-img-top img-fluid" src="{{ asset('img/' ~ product.images) }}" alt="Image">
                <div class="card-body">
                    <h3 class="card-title"><strong>{{ product.title }}</strong></h3>
                    <h4>&#163;{{ product.price }}</h4>
                    <p class="card-text text-justify">
                        <i>
                            {{ product.fullDescription }}
                        </i>
                    </p>
                </div>
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        <h5><strong>Action</strong></h5>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <div class="float-left">
                                <button type="submit" name="edit_btn" class="btn btn-info btn-block">Edit
                                </button>
                                <button type="submit" name="delete_btn" class="btn btn-danger btn-block">Delete
                                </button>
                            </div>
                            <div class="float-right">
                                <a href="{{ url('products') }}" class="btn btn-primary btn-block">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    <h5>Place Order</h5>
                </div>
                <div class="card-body">
                    <p>Quantity:</p>
                    <small class="text-muted">
                        <input name="quantity" type="number" min="1" class="input-sm text-center" value="1"
                               title="">
                    </small>
                    <hr>
                    <div class="row w-100 d-block">
                        <div class="col">
                            <div class="float-left">
                                <button type="submit" name="add_to_cart_btn" class="btn btn-info btn-block">Add to
                                    Cart
                                </button>
                            </div>
                            <div class="float-right">
                                <a href="{{ url('products') }}" class="btn btn-primary btn-block">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
