{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-9">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h5><strong>Message</strong></h5>
            </div>
            <div class="card-body">
                <table class="table table-responsive w-100 d-block d-md-table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-uppercase small font-weight-bold">message id</th>
                        <th scope="col" class="text-uppercase small font-weight-bold">name</th>
                        <th scope="col" class="text-uppercase small font-weight-bold">email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ message.id }}</th>
                        <td>{{ message.name }}</td>
                        <td>{{ message.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <div class="card-body">
                    <p class="card-text text-justify">
                        <i>
                            {{ message.message }}
                        </i>
                    </p>
                </div>
                <hr>
                <div class="row w-100 d-block">
                    <div class="col">
                        <div class="float-right">
                            <a href="{{ path('messages') }}" class="btn btn-secondary btn-block">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
