{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-9">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h5><strong>Registration Form</strong></h5>
            </div>
            {{ form_start(form) }}
            <div class="card-body text-center">
                <div class="px-lg-5 pt-0">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.firstName) }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.lastName) }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-lg-5 pt-0">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.address) }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.postCode) }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-lg-5 pt-0">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.city) }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.countryCode) }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-lg-5 pt-0">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.username) }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.email) }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-lg-5 pt-0">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.plainPassword.first) }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="md-form">
                                <strong>{{ form_row(form.plainPassword.second) }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-control custom-checkbox text-center">
                {{ form_row(form.termsAccepted) }}
            </div>
            <hr>
            <div class="card-body text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
