<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta content="shop, online, bargain, quality, free, shoes, belts, dresses, jackets, hats, trousers, Plovdiv, centre"
          name="keywords">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/lib/bootstrap.css') }}">
    {% endblock %}
    <title>{% block title %}Shop{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">ONLINE SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('messages') }}">Messages</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('signup') }}">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                </li>
                <li class="nav-item active">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('cart') }}">Cart</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <hr class="profile_info">
            <h5>
                <strong>
                    {% if app.user %}
                    {{ app.user.username }}
                    {% endif %}
                </strong>
            </h5>
            <img src="{{ asset('images/main/blank.jpg') }}">
            <div>
                <small>
                    <a name="logout" href="{{ path('logout') }}" style="color: red;">Logout</a>
                </small>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="container-fluid text-center">
            <h1>Online Shop</h1>
            <p>Quality, Price and Assortment</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('products') }}" class="list-group-item active">Product List</a>
                    <a href="{{ path('orders') }}" class="list-group-item">Order List</a>
                    {% else %}
                        <h3><strong>Please, Sign In</strong></h3>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('addProduct') }}" class="list-group-item">Add Product</a>
                    {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer blockquote-footer">
            <span class="text-muted">&copy; Copyright | 2018 &middot; <a href="https://www.dnhsoft.com/">DNH Soft</a>
            </span>
        <p class="text-right"><a href="#">Back to Top</a></p>
    </footer>
</div>
{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
